h1 {
    font: 2em arial black;
}

div {
    text-align: justify;
    width: 300px;
    border: 10px solid black;
    padding: 25px;
    margin: 25px;
}

#hatchCargo {
    float: right;
    position: relative;
    bottom: 75px;
}