h1 {
    font: 1.5em arial black;
    font-weight: bold;
    text-align: center;
}

h2 {
    font: 1em arial black;
    text-align: center;
}

.clickme {
    background-color: #EEEEEE;
    padding: 5px 5px;
    text-decoration:none;
    font-weight:bold;
    border-radius: 5px;
    color: #10a2ff;
    cursor:pointer;
}

.danger {
    background-color:rgb(255, 0, 64);
    color: #FFFFFF;
}

.danger:hover {
    background-color:#EB003B;
    color: #FFFFFF;
}

#mainpage {
    text-align: center;
}

#scout {
    text-align: justify;
    width: 300px;
    border: 10px solid black;
    padding: 25px;
    margin: 25px;
}

#reportsby {
    display: inline-block;
    margin: 4px;
    margin-bottom: 15px;
    text-align: center;
}

table, td, th {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
}

tr:nth-child(even) {background-color: #b9c0ff;}

th{
    background-color: rgb(255, 0, 64);
    color: white;
    text-align: center;
}

#hatchCargo {
    float: right;
    position: relative;
    bottom: 75px;
}

.g-signin2{
  width: 100%;
}

.g-signin2 > div{
  margin: 0 auto;
}

.fixTableHead {
    overflow-y: auto;
    height: 1100px;
    }

.fixTableHead thead th {
    position: sticky;
    top: 0;
}

.sticky-col {
    position: sticky;
    background-color: grey;
}

.view {
    margin: auto;
    width: 600px;
  }
  
.wrapper {
    position: relative;
    overflow: auto;
    border: 1px solid black;
    white-space: nowrap;
}
